.text {
    color: black; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; font-family: 'Muli', sans-serif;
}


.textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


.my_title {
    color: red;
    font-size: x-large;
}


.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
