
{% extends 'base.html' %}



<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


{% set nav_item_id = 'blocks' %}

{% block content %}

    <a href="{{ url_for('create_block') }}">Create New Block</a>

    <table id="blocks_info" class="display" style="width:100%">

        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for block in blocks %}
                <tr>
                    <td><a href="{{ url_for('block', block_id=block.id) }}">{{ block.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#blocks_info').DataTable();
        } );
    </script>
    
{% endblock %}


