
{% extends 'base.html' %}

{% set nav_item_id = 'contests' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>


    <a href="{{ url_for('create') }}">Create New Contest</a>
    <form action="" method="post"  novalidate id='myform'>
        {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
    <!-- <div class="my_title">
        {{title}}
    </div> -->

    <!-- <div class="text">
        Contests:
    </div> -->

    <!-- {% for contest in contests %}
        <li>
            <a href="{{ url_for('contest', contest_id=contest.id) }}">{{contest.title}}</a>
        </li>
    {% endfor %} -->


    <table id="contests_info" class="display" style="width:100%">

        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Desctiption</th>

            </tr>
        </thead>
        <tbody>
            {% for contest in contests %}
                <tr id="{{ contest.id }}">
                    <td></td>
                    <td> <a href="{{ url_for('contest', contest_id=contest.id) }}"> {{contest.title}} </a> </td>
                    <td>{{ contest.desc }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            table = $('#contests_info').DataTable( {
                columnDefs: [ {
                    orderable: false,
                    className: 'select-checkbox',
                    targets:   0
                } ],
                select: {
                    style:    'os',
                    selector: 'td:first-child'
                },
                order: [[ 1, 'asc' ]],
            } );
        } );

        $("#submit_button").on("click",
            function(e){
                // e.preventDefault(); 
                var selected = table.rows('.selected').nodes();
                var ids = [];
                $.each(selected, function(i, val) {
                    ids.push(val.id);
                });
                document.getElementById("contest_ids").value = ids.join(',');
                $("#myform").submit();
        });
    </script>

{% endblock %}
